section.chat-app-window {
	box-shadow: none;
}

section.chat-app-window .input-group-text:last-child{
	border-right: 1px solid #ccc;
}

section.chat-app-window .input-group {
	padding: 0;
}
.task-info .card {
	border-radius: 0;
	box-shadow: none;
}

.chat-application .chat-app-window .start-chat-area, .chat-application .chat-app-window .user-chats {
	background: none;
}
.chat-app-window .chat-app-form {
	border-bottom: 1px solid #ebe9f1;
	border-top: none;
}