.no-results.show {
    display: block;
}

.no-results {
    display: none;
    padding: 1.5rem;
    text-align: center;
}

button.task-status.d-inline-flex {
    border-radius: 0;
}

.task-status.d-inline-flex.dropdown-toggle::after {
	position: absolute;
    right: 15px;
    left: auto;
    top: 15px;
}

.btn.task-status .feather {
    scale: 1.5;
	margin-right: 15px !important;
}


button.task-member.d-inline-flex {
    border-radius: 0;
}

.task-member.d-inline-flex.dropdown-toggle::after {
	display: none;
}

.btn.task-member .feather {
    scale: 1.5;
	margin-right: 15px !important;
}

.select-header {
	padding: 10px;
    padding-left: 20px;
    font-weight: 500;
    color: green;
}

.todo-title-area {
    .todo-title-wrapper {
        color: rgba(0, 207, 232, 0.85) !important;
    }

    .doing-title-wrapper {
        color: rgba(115, 103, 240, 0.85) !important;
    }

    .reviewing-title-wrapper {
        color: rgba(255, 159, 67, 0.85) !important;
    }

    .ontime-title-wrapper {
        color: rgba(40, 199, 111, 0.85) !important;
    }

    .late-title-wrapper {
        color: rgba(130, 134, 139, 0.85) !important;
    }

    .overdue-title-wrapper {
        color: rgba(234, 84, 85, 0.85) !important;
    }
}